<script src="/static/bootstrap/bootstrap.bundle.js?v={{ v }}"></script>
<script src="/static/notyf/notyf.min.js?v={{ v }}"></script>
<script src="/static/chartjs/chart.js?v={{ v }}"></script>
<script src="/static/crm/custom.js?v={{ v }}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const notyf = new Notyf();
        {% if message %}
            notyf.success("{{ message }}");
        {% endif %}
        {% if error %}
            notyf.error("{{ error }}");
        {% endif %}
    });
</script>