<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap 5 CSS -->
<link href="/static/bootstrap/bootstrap.css?v={{ v }}" rel="stylesheet">
<link href="/static/notyf/notyf.min.css?v={{ v }}" rel="stylesheet">
<link href="/static/crm/custom.css?v={{ v }}" rel="stylesheet">
<!-- Font Awesome para ícones -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">